@page "/CustomerList/edit/{Id:guid?}"
@page "/Cashier/CustomerList/edit/{Id:guid?}"
@using global::GoilGasStation.Blazor.Shared.ViewModels
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Customer</h3>

@if (CustomerItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Name</label>
            <input placeholder="Name..." class="form-control" @bind="@CustomerItem.Name" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Surname</label>
            <input placeholder="Surname..." class="form-control" @bind="@CustomerItem.Surname" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Card Number</label>
            <input placeholder="e.x. A10001, A10002..." class="form-control" @bind="@CustomerItem.CardNumber" readonly/>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}

@code {
    [Parameter] public Guid? ID { get; set; }
    CustomerEditViewModel CustomerItem { get; set; } = new();
    Validations Validations { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        CustomerItem = await httpClient.GetFromJsonAsync<CustomerEditViewModel>($"customer/{(ID == null ? Guid.Empty : ID)}");
    }

    protected async Task OnSave()
    {
        HttpResponseMessage response;
        if (ID == null)
        {
            if (Validations.Validate(CustomerItem) == true) {
                response = await httpClient.PostAsJsonAsync("customer", CustomerItem);
            }
            else return;
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("customer", CustomerItem);
        }
        response.EnsureSuccessStatusCode();
        if (navigationManager.Uri.Contains("Cashier"))
        {
            navigationManager.NavigateTo("Cashier/CustomerList");
        }
        else
        {
            navigationManager.NavigateTo("customerlist");
        }

    }

    protected void OnCancel()
    {
        if (navigationManager.Uri.Contains("Cashier"))
        {
            navigationManager.NavigateTo("Cashier/CustomerList");
        }
        else
        {
            navigationManager.NavigateTo("customerlist");
        }
        
    }
}
