@page "/index"
@using GoilGasStation.Blazor.Shared.ViewModels
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Welcome to Goil Gas Managing System</h1>




@code{


}