@page "/"
@*@page "/index/{ID:guid}"*@
@using GoilGasStation.Blazor.Shared.ViewModels
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Welcome to Goil Gas Managing System</h1>




@code{
    [Parameter]public Guid ID { get; set; }

    //protected override async void OnInitializedAsync()
    //{
    //    var employee = httpClient.GetFromJsonAsync<EmployeeViewModel>($"/Employee/{ID}");
    //    if()

    //}

}